.card {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 40px;
  border-bottom: 1px solid #e2e7ec;

  @media (min-width: 1200px) {
    flex-direction: row;
  }
}

.figure {
  display: flex;
  align-items: center;
  margin-bottom: 22px;
  background-color: #fff;
  border: 1px solid #d6dae1;
  border-radius: 4px;
  width: 100%;

  @media (min-width: 1200px) {
    flex-direction: column;
    max-width: 180px;
    max-height: 350px;
    margin-right: 40px;
  }

  .photo {
    @media (min-width: 1200px) {
      width: 100%;
    }
  }
}

.caption {
  margin-left: 24px;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #000;

  @media (min-width: 1200px) {
    margin-left: 0;
    margin-top: 40px;
  }
}

.wrap {
  h2 {
    margin-bottom: 14px;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    text-decoration-line: underline;
    color: #000;

    @media (min-width: 1200px) {
      margin-bottom: 7px;
    }
  }

  .date {
    margin-bottom: 17px;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
    color: #7f8a94;

    @media (min-width: 1200px) {
      margin-bottom: 14px;
    }
  }

  .rating {
    margin-bottom: 24px;
    width: 170px;
    height: 30px;

    @media (min-width: 1200px) {
      margin-bottom: 40px;
    }
  }

  .inner {
    width: 100%;

    h3 {
      display: flex;
      align-items: center;
      margin-bottom: 15px;
      font-weight: 600;
      font-size: 14px;
      line-height: 17px;
      text-transform: uppercase;
      color: #7f8a94;
    }

    .dignity {
      position: relative;
      padding-left: 35px;

      &::before {
        content: url("data:image/svg+xml,%3Csvg width='21' height='23' viewBox='0 0 21 23' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M16.8324 6.88303H15.8182C16.3087 5.52914 16.7857 3.53994 16.1438 1.9799C15.7653 1.05999 15.0456 0.405755 14.0626 0.088447C13.8811 0.029597 13.6924 0 13.5022 0C12.223 0 11.0653 1.24342 9.37366 4.43543C8.61355 5.87088 7.51953 7.07954 6.74905 7.73137C6.42205 8.00806 6.16073 8.29027 5.94884 8.568C5.36467 7.70349 4.37331 7.13392 3.2506 7.13392C1.45835 7.13392 0 8.5859 0 10.3703V19.7636C0 21.5484 1.45835 23 3.2506 23C4.42793 23 5.458 22.3712 6.02834 21.4355C6.79295 22.3743 7.95921 22.9763 9.26512 22.9763H17.2233C20.5095 22.9763 21 20.8645 21 19.606V11.0332C21.0003 8.74489 19.1307 6.88303 16.8324 6.88303ZM4.42724 19.7636C4.42724 20.4096 3.89941 20.9351 3.25095 20.9351C2.60214 20.9351 2.07432 20.4096 2.07432 19.7636V10.3703C2.07432 9.72435 2.60214 9.19883 3.25095 9.19883C3.89941 9.19883 4.42724 9.72435 4.42724 10.3703V19.7636ZM18.9264 19.606C18.9264 20.3703 18.804 20.9113 17.2236 20.9113H9.26547C8.11096 20.9113 7.17145 19.9763 7.17145 18.8268V11.0332L7.17421 11.0005L7.16695 10.9399C7.16488 10.9069 7.13031 10.1187 8.09195 9.30517C9.01002 8.52808 10.3108 7.094 11.2081 5.39871C12.6364 2.704 13.318 2.17986 13.5029 2.08074C13.8621 2.21427 14.0864 2.4273 14.2243 2.76251C14.6713 3.84865 14.1099 5.93696 13.3246 7.43849L12.5354 8.9476H16.832C17.9869 8.9476 18.9264 9.883 18.9264 11.0328V19.606Z' fill='%237F8A94'/%3E%3C/svg%3E");
        position: absolute;
        left: 0;
      }
    }

    .flaws {
      position: relative;
      padding-left: 35px;

      &::before {
        content: url("data:image/svg+xml,%3Csvg width='21' height='23' viewBox='0 0 21 23' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M16.8324 16.117H15.8182C16.3087 17.4709 16.7857 19.4601 16.1438 21.0201C15.7653 21.94 15.0456 22.5942 14.0626 22.9116C13.8811 22.9704 13.6924 23 13.5022 23C12.223 23 11.0653 21.7566 9.37366 18.5646C8.61355 17.1291 7.51953 15.9205 6.74905 15.2686C6.42205 14.9919 6.16073 14.7097 5.94884 14.432C5.36467 15.2965 4.37331 15.8661 3.2506 15.8661C1.45835 15.8661 0 14.4141 0 12.6297V3.2364C0 1.45163 1.45835 0 3.2506 0C4.42793 0 5.458 0.628767 6.02834 1.56451C6.79295 0.625669 7.95921 0.0237484 9.26512 0.0237484H17.2233C20.5095 0.0237484 21 2.13546 21 3.39402V11.9668C21.0003 14.2551 19.1307 16.117 16.8324 16.117ZM4.42724 3.2364C4.42724 2.59043 3.89941 2.06491 3.25095 2.06491C2.60214 2.06491 2.07432 2.59043 2.07432 3.2364V12.6297C2.07432 13.2757 2.60214 13.8012 3.25095 13.8012C3.89941 13.8012 4.42724 13.2757 4.42724 12.6297V3.2364ZM18.9264 3.39402C18.9264 2.62966 18.804 2.08866 17.2236 2.08866H9.26547C8.11096 2.08866 7.17145 3.02372 7.17145 4.17318V11.9668L7.17421 11.9995L7.16695 12.0601C7.16488 12.0931 7.13031 12.8813 8.09195 13.6948C9.01002 14.4719 10.3108 15.906 11.2081 17.6013C12.6364 20.296 13.318 20.8201 13.5029 20.9193C13.8621 20.7857 14.0864 20.5727 14.2243 20.2375C14.6713 19.1514 14.1099 17.063 13.3246 15.5615L12.5354 14.0524H16.832C17.9869 14.0524 18.9264 13.117 18.9264 11.9672V3.39402Z' fill='%237F8A94'/%3E%3C/svg%3E%0A");
        position: absolute;
        left: 0;
      }
    }

    .text {
      margin-bottom: 16px;
      font-weight: 600;
      font-size: 14px;
      line-height: 17px;
      color: #000;

      @media (min-width: 1200px) {
        margin-bottom: 30px;
      }
    }

    .hiddenText {
      -ms-text-overflow: ellipsis;
      -o-text-overflow: ellipsis;
      text-overflow: ellipsis;
      overflow: hidden;
      -ms-line-clamp: 6;
      -webkit-line-clamp: 6;
      line-clamp: 6;
      display: -webkit-box;
      word-wrap: break-word;
      -webkit-box-orient: vertical;
      box-orient: vertical;

      @media (min-width: 1200px) {
        -ms-line-clamp: 2;
        -webkit-line-clamp: 2;
        line-clamp: 2;
      }
    }
  }

  .button {
    display: flex;
    align-items: center;
    position: relative;
    margin-bottom: 40px;
    background: transparent;
    border: none;
    outline: none;
    padding: 0;
    padding-left: 35px;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
    color: #7f8a94;
    cursor: pointer;

    &::before {
      content: url("data:image/svg+xml,%3Csvg width='28' height='21' viewBox='0 0 28 21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.565214 10.5C0.565214 10.5 5.52174 1 13.7826 1C22.0435 1 27 10.5 27 10.5C27 10.5 22.0435 20 13.7826 20C5.52174 20 0.565214 10.5 0.565214 10.5ZM25.062 10.5C24.2631 9.23067 23.3443 8.04846 22.3194 6.97118C20.193 4.74473 17.2852 2.72727 13.7826 2.72727C10.28 2.72727 7.37382 4.74473 5.24417 6.97118C4.21923 8.04846 3.30041 9.23067 2.50156 10.5C2.59739 10.6503 2.70313 10.8161 2.82374 10.9975C3.37721 11.8265 4.19504 12.932 5.24417 14.0288C7.37382 16.2553 10.2817 18.2727 13.7826 18.2727C17.2852 18.2727 20.1914 16.2553 22.321 14.0288C23.346 12.9515 24.2648 11.7693 25.0637 10.5H25.062Z' fill='%237F8A94'/%3E%3Cpath d='M13.7826 6.18182C14.8781 6.18182 15.9287 6.63677 16.7033 7.44658C17.4779 8.2564 17.913 9.35475 17.913 10.5C17.913 11.6453 17.4779 12.7436 16.7033 13.5534C15.9287 14.3632 14.8781 14.8182 13.7826 14.8182C12.6871 14.8182 11.6366 14.3632 10.8619 13.5534C10.0873 12.7436 9.65217 11.6453 9.65217 10.5C9.65217 9.35475 10.0873 8.2564 10.8619 7.44658C11.6366 6.63677 12.6871 6.18182 13.7826 6.18182ZM19.5652 10.5C19.5652 8.89665 18.956 7.35896 17.8715 6.22522C16.7871 5.09148 15.3163 4.45455 13.7826 4.45455C12.249 4.45455 10.7781 5.09148 9.69369 6.22522C8.60924 7.35896 8 8.89665 8 10.5C8 12.1034 8.60924 13.641 9.69369 14.7748C10.7781 15.9085 12.249 16.5455 13.7826 16.5455C15.3163 16.5455 16.7871 15.9085 17.8715 14.7748C18.956 13.641 19.5652 12.1034 19.5652 10.5Z' fill='%237F8A94'/%3E%3Cpath d='M0.565214 10.5C0.565214 10.5 5.52174 1 13.7826 1C22.0435 1 27 10.5 27 10.5C27 10.5 22.0435 20 13.7826 20C5.52174 20 0.565214 10.5 0.565214 10.5ZM25.062 10.5C24.2631 9.23067 23.3443 8.04846 22.3194 6.97118C20.193 4.74473 17.2852 2.72727 13.7826 2.72727C10.28 2.72727 7.37382 4.74473 5.24417 6.97118C4.21923 8.04846 3.30041 9.23067 2.50156 10.5C2.59739 10.6503 2.70313 10.8161 2.82374 10.9975C3.37721 11.8265 4.19504 12.932 5.24417 14.0288C7.37382 16.2553 10.2817 18.2727 13.7826 18.2727C17.2852 18.2727 20.1914 16.2553 22.321 14.0288C23.346 12.9515 24.2648 11.7693 25.0637 10.5H25.062Z' stroke='%237F8A94' stroke-width='0.4'/%3E%3Cpath d='M13.7826 6.18182C14.8781 6.18182 15.9287 6.63677 16.7033 7.44658C17.4779 8.2564 17.913 9.35475 17.913 10.5C17.913 11.6453 17.4779 12.7436 16.7033 13.5534C15.9287 14.3632 14.8781 14.8182 13.7826 14.8182C12.6871 14.8182 11.6366 14.3632 10.8619 13.5534C10.0873 12.7436 9.65217 11.6453 9.65217 10.5C9.65217 9.35475 10.0873 8.2564 10.8619 7.44658C11.6366 6.63677 12.6871 6.18182 13.7826 6.18182ZM19.5652 10.5C19.5652 8.89665 18.956 7.35896 17.8715 6.22522C16.7871 5.09148 15.3163 4.45455 13.7826 4.45455C12.249 4.45455 10.7781 5.09148 9.69369 6.22522C8.60924 7.35896 8 8.89665 8 10.5C8 12.1034 8.60924 13.641 9.69369 14.7748C10.7781 15.9085 12.249 16.5455 13.7826 16.5455C15.3163 16.5455 16.7871 15.9085 17.8715 14.7748C18.956 13.641 19.5652 12.1034 19.5652 10.5Z' stroke='%237F8A94' stroke-width='0.4'/%3E%3C/svg%3E%0A");
      position: absolute;
      left: 0;
    }

    &:hover,
    :focus,
    :active {
      color: #363636;
    }

    @media (min-width: 1200px) {
      margin-top: 40px;
    }
  }
}

.cardSingle {
  @media (min-width: 1200px) {
    flex-direction: column;
    margin-top: 50px;
  }

  .figure {
    @media (min-width: 1200px) {
      align-items: center;
      flex-direction: row;
      margin: 0;
      margin-bottom: 40px;
      width: 100%;
      max-width: unset;
    }

    .photo {
      @media (min-width: 1200px) {
        width: 140px;
      }
    }

    .caption { 
      @media (min-width: 1200px) {
        margin: 0;
        margin-left: 70px;
      }
    }
  }
}
